NODE_RED_CREDENTIAL_SECRET=38736acd546d7a3c2162e161505c8e30d5e3ba197d3fb3285d3878239269d4db
NODE_RED_ADMIN_USER=admin
# Password: aTeSmYZVwzuvc1fO
NODE_RED_ADMIN_PASSWORD_HASH=$$2a$$08$$fToxyj7i6JaTjwB/uQklDul.Mu366W/4DzWrOBHgPstXa0yc/548m
